* {
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    margin: 0px 10vw;
}

.logo {
    /* width: 10px; */
    height: 40px;
    /* background-color: antiquewhite; */
    display: flex;
}

.right {
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */

}

li {
    display: flex;
    align-items: center;
    
}

ul li {
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: black;
    padding: 10px;
    ;

}

.button {
    background-color: white;
    border: 2px solid #222;
    color: #222;
    border-radius: 4px;
    padding: 10px 20px;
    /* font-weight: 600; */
    font-weight: bolder;
    font-style: normal;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11vw;

}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



section span {
    font-size: 46px;
    font-weight: 380px;
}

section span img {
    margin: 0px 8px;
}

p {
    width: 63vw;
    font-size: 25px;
    margin: 14px 0px;
    font-weight: 350;
    text-align: center;

}

button {
    background-color: #00b6d1;
    border: none;
    padding: 14px 20px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    font-size: small;
}

.download {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 63vw;
    margin: 20px auto;
    padding: 20px 0px;

}


.download span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 4px;
    /* gap: 10px; */
}

img {
    /* margin-top: 20px; */
    top: 50%;

}

.upper {
    font-size: 24px;
}

.small {
    font-size: xx-small;
    padding-top: 10px;
}

.second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    max-width: 50vw;
    margin: auto;
}


.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 302px;
    height: 201px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-lang {
    /* font-weight: 600; */
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    margin-top: -10px;
}

.green {
    background-color: #5cb85c;
    border: none;
    padding: 14px 20px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    font-size: small;
    margin-top: 30px;
}

.hash {
    font-size: small;
    margin: 4px;
}

.hash-code {
    font-size: xx-small;
    width: 280px;
    /* margin: auto; */
    text-align: center;
    word-wrap: break-word;
}