.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #251d1d11, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 50px;
  padding-left: 20px;
  color: #626262;
  background-color: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  background-color: #ebfffc;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.weather-icon {
  width: 150px;
  margin: 10px 0px;
}

.temperature {
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0px;
}

.weather-data{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    color: #fff;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}

.weather-data .col span{
    display: block;
    font-size: 14px;
}

.weather-data .col img{
    width: 26px;
    margin-top: 8px;
}
