.container{
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    font-size: 60px;
}

.title span{
    color: #2bffcb;
    padding-left: 20px;
}

.title img{
padding: 30px;
height: 50px;
}

.reset{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: #2bffcb;
    background: #1f3540;
    border: none;
    outline: none;
    /* margin-top: 25px; */
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: bold;
}

.board{
    height: 420px;
    width: 600px;
    margin: auto;
    /* background: #fff; */
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin:2px 0px;
}

.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin:2px 0px;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin:2px 0px;
}

.boxes{
    display: flex;
    height: 120px;
    width: 120px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.boxes img{
    margin: 25px 25px;
}